.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 45px;
    margin-bottom: 20px;
    background-color: rgb(225, 228, 231)
}

.oneCard{
    border: 2px solid black;
    height: 350px;
    // margin-top: 10px;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 2px 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px 14px;
} 

.foodlabel{
    width: 200px;
}

.foodimg{
    width: 245px;
    height: 211px;
    margin-top: 10px;
    box-shadow: 2px 2px 10px;
}

.Spiner{
    font-size: 10px;
    margin-left: 500px;
    margin-top: 300px;
}
   


#RecDetBtn{
    margin-top: 12px;
}

@media only screen and (max-width: 768px) {
    .searchBar {
        width: 150px;

    }
    .Spiner {
        margin-left: 20px;
        margin-top: 150px;
    }

    .cardsContainer {
        justify-content: center;
    }

    .card-1 {
        width: 50%;
        margin: 10px 0;
    }
}


@media only screen and (max-width: 480px) {
    .Spiner {
        margin-left: 10px;
        margin-top: 100px;
    }
}