.navbar{
    background-color: black;
    height: 50px;
    color: white;
}

ul{
    list-style: none;
    display: flex;
}
li{
    margin: 13px 13px;
    color: white;
}

.link{
    color: white;
}

.searchBar{
    height: 28px;
    width: 217px;
    margin-left: 200px;
    margin-top: 9px;

}

.serBtn{
    height: 30px;
    margin-top: 9px;
}

.tag{
    margin-top: 11px;
    margin-left: 313px;
}

