.navbar {
  background-color: #181616;
  height: 50px;
  color: white;
  width: 100vw;
}

.navul {
  list-style: none;
  display: flex;
}

#navlidiv{
  display: flex;
}

.navli {
  height: 21px;
  width: 50px;
  margin: 13px 13px;  
  background-color: white;
  color: white;
  border-radius: 7px;
}

.link {
  color: black;
  margin-left: 5px;
  text-decoration: none;
}
.link:hover{
  color: rgb(18 81 245);
  transform: m;
}

.active{
  color: rgb(18 81 245);
}

.tag {
  margin-top: 11px;
  margin-left: auto;
  color: #ffe4c3;
}

.buttons{
  margin-top: 8px;
  margin-right: 26px;
  margin-left: 201px;
}

@media only screen and (max-width: 918px) {
  .tag {
    margin-left: auto;
  }
  .buttons{
    margin-right: 10px;
    margin-left: auto;
  }
  
}

@media only screen and (max-width: 768px) {
  .tag {
    margin-left: auto;
    margin-right: auto;
  }
  .buttons {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 480px) {
  #navlidiv{
     display: flex;
  }

  .navbar {
    height: auto;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  .tag {
    margin-left: auto;
    margin-top: -4px;
  }
  .buttons {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
  }
}