.navbar{
    background-color: #181616;
    height: 50px;
    color: white;
    width: 100vw;
}

.navul{
    list-style: none;
    display: flex;
    // justify-content: center;
}

.navli{
    margin: 13px 13px;
    color: white;
}

.link{
    color: white;
}
.link:hover{
    color: rgb(93 165 197);
}

.tag{
    margin-top: 11px;
    margin-left: 313px;
}

.searchBar{
    height: 28px;
    width: 240px;
    margin-top: 9px;
    background-color: aliceblue;
    margin-left: 145px;
    border-style: double;
}

.serBtn{
    height: 28px;
    margin-top: 10px;
    background-color: aliceblue;
    margin-left: 1px;
}

@media only screen and (max-width: 918px){
    .tag{
        margin-left: auto;
    }
    .searchBar{
        margin-right: 2px;
    }
    .serBtn{
        margin-right: 26px;
    }
}
    

@media only screen and (max-width: 768px) {
    .tag {
        margin-left: auto;
    }
    .searchBar{
        margin-left: auto;
    }
}

@media only screen and (max-width: 480px) {
    .navbar {
        height: auto;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    li {
        margin: 5px 0;
    }

    .tag {
        margin-left: 10px;
    }
    .searchBar{
        margin: auto;
        margin-top: 2px;
    }
}