.navbar {
  background-color: #181616;
  height: 50px;
  color: white;
  width: 100vw;
}

.navul {
  list-style: none;
  display: flex;
  // justify-content: center;
}

#navlidiv{
  display: flex;
}

.navli {
  margin: 13px 13px;
  color: white;
}

.link {
  color: white;
}
.link:hover{
  color: #276bf3;
  transform: m;
}

.tag {
  margin-top: 11px;
  margin-left: auto;
  color: #ffe4c3;
}

.searchBar {
  height: 28px;
  width: 240px;
  margin-top: 9px;
  background-color: aliceblue;
  margin-left: 130px;
  border-style: double;
  // margin-right: 54px;
}

.serBtn {
  height: 28px;
  margin-top: 10px;
  background-color: aliceblue;
  margin-left: 2px;
}

.serIngrContainer {
  width: 100vw;
  height: 49px;
  margin-top: 1px;
  background-color: #3f3d3d;
  display: flex;
  justify-content: center;
}

.serinpgre  {
    list-style: none;
    margin-top: 8px;
}

.inpfieldbtn{
  margin-right: 54px;
}


@media only screen and (max-width: 918px) {
  .tag {
    margin-left: auto;
  }
  .searchBar {
    margin-right: auto;
  }
  .serBtn {
    margin-right: 26px;
  }
  .inpfieldbtn{
    margin-right: 1px;
  }
  
  
}

@media only screen and (max-width: 768px) {
  .tag {
    margin-left: auto;
    margin-right: auto;
  }
  .searchBar {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .inpfieldbtn{
    margin-right: 1px;
  }
}

@media only screen and (max-width: 480px) {
  #navlidiv{
     display: flex;
  }

  .navbar {
    height: auto;
  }

  ul {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 5px 0;
  }

  .tag {
    margin-left: auto;
    margin-top: -4px;
  }
  .searchBar {
    width: auto;
    margin-top: 2px;
    margin-bottom: 7px;
    margin-left: 44px;
  }
  .inpfieldbtn{
    margin-right: 1px;
  }
}
