.ingredientLines {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 85vh;
  width: 100vw;
  background-color: rgb(225, 228, 231);
}

.card {
  background-color: antiquewhite;
  border-radius: 5px;
  box-shadow: 2px 2px 10px;
}

#ingredient{
    margin-top: 10px;
}

#ingrediImg {
    height: 64%;
    margin-top: 14px;
    width: 57%;
    box-shadow: 4px 4px 10px;
    margin-right: 136px;
}

.listdetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 35px;
}

.recUl{
margin-top: 8px;
}