.ingredientLines {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;

  > div {
    flex: 1;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Changed box shadow color */

    &:first-child {
      flex: 2;
    }

    #detailslabel {
      font-size: 24px;
      margin-bottom: 10px;
      color: #333; /* Dark text color */
    }

    #ingrediImg {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Changed box shadow color */
    }
  }

  .listdetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .rectype {
      font-size: 18px;
      margin-bottom: 10px;
      color: #666; /* Medium text color */
    }

    .ingredient {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333; /* Dark text color */
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 10px;

        img {
          width: 40px; /* Adjusted size */
          height: 40px; /* Adjusted size */
          margin-right: 15px;
          border-radius: 50%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Changed box shadow color */
        }

        span {
          font-weight: bold;
          margin-right: 10px;
          color: #333; /* Dark text color */
        }

        .quantity {
          font-style: italic;
          color: #888; /* Light text color */
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ingredientLines {
    flex-direction: column;

    > div {
      flex: 1;
      margin: 10px;

      &:first-child {
        flex: unset;
      }

      #detailslabel {
        font-size: 20px;
      }

      #ingrediImg {
        max-width: 100%;
        height: auto;
      }
    }

    .listdetails {
      flex: unset;
    }
  }
}